.main-body {
    max-width: 800px;
    margin: 0 auto;
}

nz-table {
    thead, tbody {
        tr.disabled {
            background-color: #eeeeee;

            input {
                background-color: #eeeeee;
            }
        }
    }
}

[nz-button] {
    margin-right: 16px;
}
