<div class="main-body">
    <nz-card [nzBordered]="false">
        <div>d2p Options</div>
        <p></p>
        <nz-table nzTemplateMode nzOuterBordered nzSize="small">
            <thead>
            <tr>
                <th style="width: 40px"></th>
                <th style="width: 300px">Pattern (regex)</th>
                <th style="width: 200px">Save to</th>
                <th style="width: 110px"></th>
                <th></th>
            </tr>
            </thead>
            <tbody cdkDropList (cdkDropListDropped)="dragDrop($event)">
            @for (r of rules(); track r) {
                <tr [class.disabled]="r.disabled" cdkDrag>
                    <td><nz-icon nzType="menu" nzTheme="outline" cdkDragHandle /></td>
                    <td><input nz-input [(ngModel)]="r.value"></td>
                    <td><input nz-input [(ngModel)]="r.path"></td>
                    <td><label nz-checkbox [(ngModel)]="r.disabled">disabled</label></td>
                    <td>
                        <button nz-button nzType="text" nzDanger (click)="deleteRule(r)">
                            <span nz-icon nzType="close" nzTheme="outline"></span>
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </nz-table>
        <p></p>
        <div>
            <button nz-button nzType="default" (click)="addRule()">
                <span nz-icon nzType="plus" nzTheme="outline"></span>
                Add Rule
            </button>
            <button nz-button nzType="primary" (click)="saveRules()">
                <span nz-icon nzType="save" nzTheme="outline"></span>
                Save Rules
            </button>
        </div>
    </nz-card>
</div>
